<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY FRNDS</title>

</head>
<body>
    <h1>MY FRIENDS</h1>
    <ul>
        <% for(x of frnds){ %>
            <li><%= x  %> </li> 
        <% } %> 
    </ul>
</body>
</html>