<html>
<head>
    <title> Home page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384- Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/homepage.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.9.0/css/all.css">
</head>
<body>
<header>
    <div class="main">
         <h2 class="logo" id="tagline"><b>Be Her Change</b></h2>
         <br><br><p>There is no limit to what we, as women, can accomplish...</p></div>
    <div id="navbar-div">
    <ul id="navbar" >
        <li class="active" id="home"><a href="#"><b>Home</b></a></li>
        <li><a href="/about" target="_blank" id="about"><b>About</b></a></li>
        <li><a href="/mission" target="_blank" id="mission"><b>Missions</b></a></li>
        <li><a href="#" id="gallery"><b>Gallery</b></a></li>
        <li><a href="/contactus" target="_blank" id="Contact"><b>Contact Us</b></a></li>
    </ul>
    </div>
    <div class="title">
        <h1> Be Her Change </h1>
    </div>
    <div class="button">
        <a href="/register" target="_blank" class="btn">REGISTER</a>
        <a href="/login" target="_blank" class="btn">LOGIN</a>
</header>
</body>
</html>
