<!DOCTYPE html>
<html>
    <head>
        <title>Mission and Vision</title>
        <link rel="stylesheet" type="text/css" href="/mission.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384- Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.9.0/css/all.css">
    </head>
    <body>
        <div class="body">
            <nav class="navbar navbar-dark bg-transparent">
                <div id="navbar">
                    <div class="topnav">
                        <h1 style="display: inline-flex;"><i class="fab fa-fonticons-fi"></i></h1>
                        <h2 style="display: inline-flex; margin-left: 8px; margin-bottom: 0px;"><b>Be Her Change</b></h2>
                    </div>
                    <div class="topnav1" style="float: left;">
                        <p>There is no limit to what we, as women, can accomplish...</p></div>
                    </div>
            </nav>
            <nav class="navbar navbar-expand-sm bg-dark " id="nav2"><ul class="navbar-nav" id="nav1">
                <li class="nav- item"><a class="nav-link" href="#"><i class="fas fa- home"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#">Explore Wats to Help Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Statistical Information</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-left: 200px; width: 400px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></form>
                <div class="cart">
                    <ul class="navbar-nav">
                        <a href="#" style="text-decoration: none;"><li id="FAQ1"><span><i class="fas fa-FAQ"></i></span>FAQ</li></a>
                    </ul>
                </div>
            </nav>
            <div class="left">
                <h1 align="center">Vision and Mission</h1>
<p><h4>Vision</h4>Empowered women living with dignity and contributing as equal partners in development in an environment
free from violence and discrimination. And, wellnurtured children with full opportunities for growth and development
in a safe and protective environment.<br>
<h4>Mission</h4>
Our mission is to attain gender-equality in a democratic Palestinian society, to which end we focus our efforts on promoting the
social, educational, economical, and political development of Palestinian women and girl’s, including advocating for women’s rights, eliminating
discrimination against women including GBV, advancing women’s capacities and leadership skills, promoting their participation in the
decisions that affect their lives, and amplifying their voices for peace and security at the national and global levels. </p>
<br>
</div>
<div class="right">
<p><h4>Core Values</h4>1. We are committed to promote gender equality and empower women and girls, and to removing any barriers that prevent full participation of women and girls in the public and political life.
<br><br>
2.	We believe in full and inclusive participation by all and that every person, man, women or community has the right and
responsibility to contribute their talents, skills and resources to the work we do, for and with them.
<br><br>
3.	We are committed to promote full and equal access to social services, education, legal and health-care services, economic
opportunities and decent work, specially marginalized women and children, they need our support to recognize their rights,
achieve their basic needs; and ensure their participation in the elaboration and implementation of policies that effect their development,
with full respect for their cultures, traditions and social norms. <br><br>
4.	We believe that community participation is an essential part of the process of good local governance, and community development.
Therefore we consider participatory approaches as an critical instruments of our Association. <br><br>
5.	We are committed to work with marginalized communities, improve their lives, alleviate their suffering and develop a vision for
change that will make a meaningful difference in their lives. <br><br>
6.	We consider partnership as one of our key organizing principle, we are, therefore, committed to developing, maintaining and nurturing
partnerships, including alliance and linkages- with institutions and individuals who identify our vision and mission.
</p>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384- KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384- ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
