<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>views/rands</title>
</head>
<body>
    <h1>Your random Numbere is: <%= randomNum %> </h1>
    <% if(randomNum%2 == 0){ %>
        <h2>That's an EVEN!</h2>
    <% }else{ %>
        <h2>That's an ODD!!</h2>
    <% } %>  
</body>
</html>