<html>
    <head>
        <title> Registration </title>
        <link rel="stylesheet" type="text/css" href="/register.css">
    </head>
<body>
    <div class="register">
       
            <h2> SUCCESS! </h2>
            
    </div>
</body>
</html>
