<html>
    <head>
        <title> Registration </title>
        <link rel="stylesheet" type="text/css" href="/register.css">
    </head>
<body>
    <div class="register">
        <form method="POST" id="register" action="/register">
            <h2> Registration </h2>
            <label for='name'> First Name: </label><br>
            <input type="text" name="firstname" id="name" placeholder="Enter your First Name" required><br>
            <label for='name'> Last Name: </label><br>
            <input type="text" name="lastname" id="name" placeholder="Enter your Last Name" required><br><br>
            <label for='num'> Mobile Number:</label><br>
            <input type="text" name="phone" id="num" placeholder="Enter your Mobile Number" required><br><br>
            <label for="name"> Email : </label><br>
            <input type="text" name="email" id="name" placeholder="Enter your Email" required><br><br>
            <input type="submit" value="Register" id="name"><br><br>
        </form>
    </div>
</body>
</html>
